* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Helvetica', Arial, cursive;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    float: right;
    margin: 0 5px;
    padding: 9px 0 0;
}

h1 {
    font-size: 32px;
    line-height: 38px;
    margin: 0 5px 5px;
    padding: 5px 0 0;
}

h1.screen-only {
    display: block;
    font-family: 'Permanent Marker', cursive;
}

h1.print-only,
h2.print-only {
    display: none;
}

nav button,
nav div {
    float: left;
}

nav div {
    background: #F6F6F6;
    box-shadow: inset 0 0 2px 0 #CCC;
    border-radius: 2px;
    display: inline-block;
    margin: 0 5px;  
    padding: .5em 1.5em;
}

nav label,
nav input {
    margin: 0;
    padding: 0;
}

nav input {
    background: transparent;
    border: none;
    outline: none;
    text-align: right;
    width: 2em;
}

ul {
    bottom: 39px;
    clear: both;
    float: none;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    top: 43px;
    width: 100%;
}

li {
    background-color: #CCC;
    border: 1px solid #999;
    float: left;
    height: 100%;
    padding: 0;
    position: relative;
    width: 50%;
}

li:first-child {
    border-right: none;
}

div.mini-map {
    background-color: #CCC;
    border-bottom: 1px solid #999;
    bottom: 30px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 0;
    transition: width .25s ease-in-out;
}

div.mini-map.visible {
    width: 10%;
    transition: width .25s ease-in-out;
}

div.mini-map svg {
    height: 100%;
    width: 100%;
}

div.mask {
    background-color: #DDD;
    border-bottom: 1px solid #999;
    bottom: 30px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: margin .25s ease-in-out;
}

div.mask.with-mini-map {
    margin: 0 0 0 10%;
    width: 90%;
    transition: margin .25s ease-in-out;
}

div.content {
    background-color: #FFF;
    box-shadow: 0 0 100px #999;
    margin: 0;
    min-height: 100%;
    outline: none;
    padding: 2px;
}

div.fake-content {
    display: none;
}

x-textaposer-text .buttons {
    bottom: 0;
    margin: 5px;
    position: absolute;
}

x-textaposer-text > .buttons button.pure-button {
    font-size: 16px;
    line-height: 18px;
    padding: 2px 5px 0;
}

x-textaposer-text > .buttons input {
    display: inline;
    height: 1px;
    visibility: hidden;
    width: 1px;
}

x-textaposer-text > .buttons span {
    display: block;
    left: 290px;
    padding: 2px 0 0;
    position: absolute;
    top: 0;
}

span.colored {
    cursor: pointer;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}

.color-one {
    background-color: #0FFF0F; /* GRÜN */
    box-shadow: 0 0 2px #0FFF0F;
}

.color-two {
    background-color: #FF007F; /* PINK */
    box-shadow: 0 0 2px #FF007F;
}

.color-three {
    background-color: #FFA700; /* ORANGE */
    box-shadow: 0 0 2px #FFA700;
}

.color-four {
    background-color: #FF0000; /* ROT */
    box-shadow: 0 0 2px #FF0000;
}

.color-four {
    background-color: #FF0000; /* ROT */
    box-shadow: 0 0 2px #FF0000;
}

.color-five {
    background-color: #00FFFF; /* HELL BLAU */
    box-shadow: 0 0 2px #00FFFF;
}

.color-six {
    background-color: #FFFF00; /* GELB */
    box-shadow: 0 0 2px #FFFF00;
}

footer {
    bottom: 0;
    padding: 5px;
    position: absolute;
}

#export-background,
#imprint-background {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#export-dialog,
#imprint-dialog {
    background-color: #FFF;
    margin: 30px auto;
    padding: 10px;
    width: 50%;
}

#export-dialog label {
    display: block;
    margin: 7px 0;
}

#export-dialog input {
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: .5em 1.5em;
    vertical-align: baseline;
    width: 100%;
}

#export-dialog label,
#export-dialog p {
    color: #000;
    font-size: 16px;
}

#export-buttons {
    margin: 30px 0;
    display: block;
}

#export-buttons button:not(:first-child) {
    margin: 0 0 0 8px;
    float: right;
}

#imprint-dialog h2 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 5px 5px;
    padding: 5px 0 0;
}

#imprint-dialog p {
    font-size: 16px;
    margin: 0 5px 5px;
}

#imprint-dialog ul {
    position: static;
    bottom: auto;
    top: auto;
    width: auto;
}

#imprint-dialog li {
    background-color: transparent;
    border: none;
    float: none;
    height: auto;
    width: auto;
}

@media print {

    html {
        height: auto;
    }

    body {
        height: auto;
    }

    nav {
        display: none;
    }

    h1.screen-only {
        display: none;
    }

    h1.print-only {
        display: block;
    }

    h2.print-only {
        display: inline-block;
        padding: 0 5px;
        width: 50%;
    }

    ul {
        bottom: auto;
        overflow: visible;
        position: static;
    }

    li {
        background-color: transparent;
        border: none;
        position: static;
        vertical-align: top;
    }

    li:not(:first-child) {
        left: 50%;
    }

    .firefox ul {
        position: relative;
    }

    .firefox li {
        position: absolute;
    }

    .firefox li:not(:first-child) {
        left: 50%;
    }

    footer > button.pure-button,
    x-textaposer-text > .buttons button.pure-button,
    x-textaposer-text > .buttons input,
    x-textaposer-text > .buttons span {
        display: none;
    }

    div.mini-map {
        display: none;
    }

    div.mask {
        background-color: transparent;
        border: none;
        margin: 0;
        overflow: visible;
        position: static;
        width: 100%;
    }

    div.content {
        background-color: transparent;
        box-shadow: none;
        margin: 0!important;
    }

    .color-one,
    .color-two,
    .color-three,
    .color-four,
    .color-four,
    .color-five,
    .color-six {
        box-shadow: none;
    }

    #export-background {
        display: none;
    }

}
