<nav>
    <button class="pure-button" data-ng-click="export()">exportieren</button>
    <div>
        <label for="length">Laufweite:</label>
        <input data-ng-model="length" id="length" type="number">
    </div>
    <button class="pure-button" data-ng-click="compare()" data-ng-disabled="comparing">jetzt vergleichen</button>
</nav>
<h1 class="print-only">{{title}}</h1>
<h1 class="screen-only">Vergleiche Texte</h1>
<ul>
    <li data-ng-repeat="digest in digestList.digests">
        <x-comparamat-text>
    </li>
</ul>
<x-comparamat-export>
