<div data-ng-hide="imprintHidden" id="imprint-background">
    <div id="imprint-dialog">
        <h1>Impressum</h1>
        <h2>Benutzte Software</h2>
        <ul>
            <li><a href="http://angularjs.org/">AngularJS</a></li>
            <li><a href="http://jquery.com/">jQuery</a></li>
            <li><a href="http://purecss.io/">Pure</a></li>
        </ul>
        <h2>Benutzte Infrastruktur</h2>
        <ul>
            <li><a href="https://github.com/">Github</a></li>
            <li><a href="https://drive.google.com">Google Drive</a></li>
        </ul>
        <button class="pure-button" data-ng-click="hide()">ausblenden</button>
    </div>
</div>