<div data-ng-hide="exportHidden" id="export-background">
    <form class="pure-form" id="export-dialog">
        <label for="title">Lege eine Überschrift für das Dokument fest:</label>
        <input data-ng-model="title" id="title" placeholder="Die Überschrift des Dokumentes">
        <label for="title">Lege eine Überschrift der linken Spalte fest:</label>
        <input data-ng-model="leftColumnTitle" id="left-column-title" placeholder="Die Überschrift der linken Spalte">
        <label for="title">Lege eine Überschrift der rechten Spalte fest:</label>
        <input data-ng-model="rightColumnTitle" id="right-column-title" placeholder="Die Überschrift der rechten Spalte">
        <label for="filename">Lege einen Dateinamen für den Download fest:</label>
        <input data-ng-model="filename" id="filename" placeholder="Der Dateiname des Dokumentes">
        <div id="export-buttons">
            <button class="pure-button" data-ng-click="cancel()">abbrechen</button>
            <button class="pure-button" data-ng-click="print()">drucken</button>
            <button class="pure-button" data-ng-click="download()">herunterladen</button>
        </div>
        <p>Ein Klick auf "drucken" öffnet den Druckdialog des Browsers. Um die farbig markierten Stellen auszudrucken bitte die Option "Hintergrundfarben und -bilder" im Chrome bzw. "Hintergrundfarben drucken" aktivieren.</p>
        <p>Ein Klick auf "herunterladen" erzeugt ein LaTeX Dokument und bietet dieses zum Download an.</p>
    </form>
</div>