<div class="mini-map">
    <svg preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <rect ng-repeat="rectangle in digest.rectangles" fill="{{rectangle.fill}}" height="{{rectangle.height}}" width="{{rectangle.width}}" x="{{rectangle.x}}" y="{{rectangle.y}}"/>
    </svg>
</div>
<div class="mask">
    <div class="content" contenteditable></div>
    <div class="fake-content">
        <x-textaposer-fragment ng-repeat="fragment in digest.fragments"><span id="{{fragment.id}}" data-ng-class="{
                'color-one': fragment.color == 1,
                'color-two': fragment.color == 2,
                'color-three': fragment.color == 3,
                'color-four': fragment.color == 4,
                'color-five': fragment.color == 5,
                'color-six': fragment.color == 6,
                'colored': fragment.color > 0
            }">{{fragment.text}}</span></x-textaposer-fragment>
    </div>
</div>
<button class="pure-button" data-ng-click="clickFileInput()">Datei ausw&auml;hlen</button>
<span>{{path}}</span>
<input accept="text/plain" data-textaposer-file type="file">