<div data-ng-hide="hidden" id="export-background">
    <form id="export-dialog">
        <label for="title">Lege eine Überschrift für das Dokument fest:</label>
        <input data-ng-model="title" id="title" placeholder="Die Überschrift des Dokumentes">
        <label for="left-column-title">Lege eine Überschrift der linken Spalte fest:</label>
        <input data-ng-model="leftColumnTitle" id="left-column-title" placeholder="Die Überschrift der linken Spalte">
        <label for="right-column-title">Lege eine Überschrift der rechten Spalte fest:</label>
        <input data-ng-model="rightColumnTitle" id="right-column-title" placeholder="Die Überschrift der rechten Spalte">
        <label for="title">Gib einen optionalen Kommentar an:</label>
        <textarea data-ng-model="comment" id="comment" placeholder="Der Kommentar"></textarea>
        <label for="filename">Lege einen Dateinamen für den Download fest:</label>
        <input data-ng-model="filename" id="filename" placeholder="Der Dateiname des Dokumentes">
        <div id="export-buttons">
            <button class="button" data-ng-click="hide()">abbrechen</button>
            <button class="button" data-ng-click="print()">drucken</button>
            <button class="button" data-ng-click="download()">herunterladen</button>
            <button class="button" data-ng-click="open()">öffnen</button>
        </div>
        <p><b>Öffnen</b> generiert ein editierbares LaTeX Dokument auf <a href="https://www.writelatex.com">WriteLaTeX</a>.</p>
        <p><b>Herunterladen</b> erzeugt ein LaTeX Dokument und bietet dieses zum Download an.</p>
        <p><b>Drucken</b> öffnet den Druckdialog des Browsers. Um die Markierungen in Farbe ausdrucken zu könnnen, muss die Option "Hintergrundfarben und -bilder" im Chrome bzw. "Hintergrundfarben drucken" im Firefox aktiviert sein.</p>
    </form>
</div>