<div data-ng-hide="hidden" id="imprint-background">
    <div id="imprint-dialog">
        <h1>Impressum</h1>
        <p>Textaposer ist eine Web Anwendung zum Vergleichen zweier Texte.</p>
        <p>Verantwortliche Ansprechperson: Prof. Dr. Debora Weber-Wulff</p>
        <p>Anschrift: HTW Berlin, FB 4, Treskowallee 8, 10318 Berlin</p>
        <p>elektronische Postadresse : weberwu @ htw-berlin . de</p>
        <p>Schnelle elektronische und unmittelbare Kommunikation: 030-5019-2320</p>
        <p>Keine Haftung: Die Inhalte dieses Webprojektes wurden sorgfältig geprüft und nach bestem Wissen erstellt. Aber für die hier dargebotenen Informationen wird kein Anspruch auf Vollständigkeit, Aktualität, Qualität und Richtigkeit erhoben. Es kann keine Verantwortung für Schäden übernommen werden, die durch das Vertrauen auf die Inhalte dieser Website oder deren Gebrauch entstehen.</p>
        <p>Schutzrechtsverletzung: Falls Sie vermuten, dass von dieser Website aus eines Ihrer Schutzrechte verletzt wird, teilen Sie das bitte umgehend per elektronischer Post mit, damit zügig Abhilfe geschafft werden kann. Bitte nehmen Sie zur Kenntnis: Die zeitaufwändigere Einschaltung eines Anwaltes zur für den Diensteanbieter kostenpflichtigen Abmahnung entspricht nicht dessen wirklichen oder mutmaßlichen Willen.</p>
        <h2>Benutzte Software</h2>
        <ul>
            <li><a href="http://angularjs.org/">AngularJS</a></li>
        </ul>
        <h2>Benutzte Infrastruktur</h2>
        <ul>
            <li><a href="https://github.com/">Github</a></li>
            <li><a href="https://drive.google.com">Google Drive</a></li>
            <li><a href="https://www.writelatex.com">WriteLaTeX</a></li>
        </ul>
        <button class="button" data-ng-click="hide()">ausblenden</button>
    </div>
</div>