<div data-ng-hide="hidden" id="imprint-background">
    <div id="imprint-dialog">
        <h1>Impressum</h1>
        <p>Für diese Website gilt <a href="http://people.f4.htw-berlin.de/~weberwu/impressum.shtml">dieses Impressum</a>.</p>
        <h2>Benutzte Software</h2>
        <ul>
            <li><a href="http://angularjs.org/">AngularJS</a></li>
            <li><a href="http://jquery.com/">jQuery</a></li>
            <li><a href="http://purecss.io/">Pure</a></li>
        </ul>
        <h2>Benutzte Infrastruktur</h2>
        <ul>
            <li><a href="https://github.com/">Github</a></li>
            <li><a href="https://drive.google.com">Google Drive</a></li>
            <li><a href="https://www.writelatex.com">WriteLaTeX</a></li>
        </ul>
        <button class="pure-button" data-ng-click="hide()">ausblenden</button>
    </div>
</div>