<div class="mini-map" data-ng-class="{visible: miniMapIsVisible}">
    <svg preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <rect data-ng-attr-height="{{rectangle.height}}" data-ng-attr-width="{{rectangle.width}}" data-ng-attr-x="{{rectangle.x}}" data-ng-attr-y="{{rectangle.y}}" data-ng-repeat="rectangle in digest.rectangles" fill="{{rectangle.fill}}"/>
    </svg>
</div>
<div class="mask" data-ng-class="{'with-mini-map': miniMapIsVisible}">
    <div class="content" contenteditable data-cg-con-content data-html="digest.html" data-text="text"></div>
    <!-- <div class="fake-content">
        <div data-ng-repeat="line in digest.lines">
            <x-textaposer-fragment data-ng-repeat="fragment in line.fragments" data-ng-switch="fragment.nodeName"><span id="{{fragment.id}}" data-ng-class="{
                'color-one': fragment.color == 1,
                'color-two': fragment.color == 2,
                'color-three': fragment.color == 3,
                'color-four': fragment.color == 4,
                'color-five': fragment.color == 5,
                'color-six': fragment.color == 6,
                'colored': fragment.color > 0
            }" data-ng-switch-when="span">{{fragment.text}}</span><br class="textaposer" data-ng-switch-when="br"/></x-textaposer-fragment>
        </div>
    </div> -->
</div>
<div class="buttons">
    <!--<button class="button" data-ng-click="toggleMiniMap()">MiniMap ausblenden</button>-->
    <button class="button" data-ng-click="clickFileInput()">Datei ausw&auml;hlen</button>
    <span>{{path}}</span>
    <input accept="text/plain" data-textaposer-file type="file">
</div>